body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nvbr{
  background-color: #002266;
}

.nv-brand{
  color: azure;
}

.nv-brand:hover{
  color: black;
}

.nav-link{
  color: azure;
}

.nav-link:active{
  color: brown;
}

.nav-link:hover{
  color: whitesmoke;
}